* {   /* all elements affected with * signe */
  margin: 0;  /* white space between boxes */
  padding: 0;
  box-sizing: border box;
  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica Neue, Arial;
  font-size:18px;
}

h1, h2 {
  color: #00960b;
}

h1 {
  font-size:40px;
  margin-bottom: 20px;
}

h2 {
  font-size:25px;
  margin-bottom: 10px;
}

/* class can be atributed to all elements but id only to one element */

.main-text { /* . is for class element */
  text-align: justify;
  margin-bottom: 20px;
}

.author-text{  /* # is for id element */
  font-size: 22px; 
}

.container {
    /*width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-right: 20px; the same think */
    margin: 20px auto 0 auto;      /*top right bottom left ;*/
}

.blog-post {
  /*background-color: #0000ff; */
  width: 75%;
  float: left;
  padding-right: 30px;

}

.other-posts {
  /*background-color: #00ff00; */
  width: 25%;
  float: left; /* moving box left */
  
}

.author-box {
 /*background-color: #ffff00; */
  padding-top: 20px;
  border-top: 1px solid #808080;
  
}
/*
Content - text, image etc. 
Padding - transparent area around content, insyde of the box.
Border - goes around the padding and content.
Margin- space between boxes.

*/
/* */
